.bgLayout {
    background-color: #10100e;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
 }
 
.divisorVertical {
    border: 1.5px solid;
    border-left: 0;
    border-right: 0;
    color: #ffffff !important; /* Estilo de línea vertical */
    padding: 10px;

  }
.a {
    text-decoration: none !important;
    color: white !important;
   display: grid;
   place-items: center;
   width: 100%;
   height: 100%;
}
.logo {
  max-width: 100%;
  height: auto;
}
.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit; /* Asegúrate de que el color se herede */
  font-size: inherit;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none; /* Opcional: quita el icono de flecha */
}

.navItem {
  z-index: 20; /* Mayor que el carrusel */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Mejor apariencia */
  background-color: #10100e !important;
 
}


@media (max-width: 768px) { 
.divisorVertical {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center;    /* Centra horizontalmente */
  text-align: center;     /* Centra el texto */
}

.navItem {
  margin: 10px 0; /* Espacio entre las palabras */
    font-size: 1.2rem; /* Ajusta el tamaño del texto si es necesario */
  
}
}