.bgCarousel {
    background-image: url("../images/fondosImages/fondoBlack.jpg");
    background-size: cover;
   height: 100%;
   padding-bottom: 40px;
}
.imageContainer {
    position: relative;
    display: inline-block; /* Ajusta según tu diseño */
    width: 100%; /* Ajusta al tamaño de tus imágenes */
    height: 100%; /* Ajusta al tamaño de tus imágenes */
}

.imageContainer image {
    width: 100%;
    height: 100%;
    display: block;
  }

.imgFluid {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el espacio de la columna */
    max-height: 100%; /* Ajusta la altura máxima según lo necesites */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
    opacity: 0; /* Oculta la capa inicialmente */
    transition: opacity 0.3s ease-in-out; /* Efecto de transición */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlayText {
    color: white;
    font-size: 20px; /* Ajusta el tamaño del texto */
    font-weight: bold;
    text-align: center;
  }
  
  .imageContainer:hover .overlay {
    opacity: 1; /* Muestra la capa cuando pasas el cursor */
  }
