.bgFooter {
    background-color: #10100e;
    height: 100%;
    color: 'white'
}
.bgTitle {
    color: rgb(255, 199, 247 ) ;
    font-size: 20px;
}
.bgSubtitle {
  color:#f800c6;
    font-size: 18px;
}
.followContainer {
   display:flex;
   justify-content: center;
   align-items: center;
   padding: 15px
}
  
  /* Estilo principal para el contenedor */
.followContact {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro por defecto */
    gap: 15px; /* Espaciado entre los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    padding: 20px;
  }
  
  /* Estilo para los íconos y texto */
  .contactItem {
    display: flex;
    align-items: end; /* Alinea el ícono y el texto verticalmente */
    gap: 10px; /* Espaciado entre el ícono y el texto */
    text-align: center;
    
  }
.finally {
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

.textItem {
    font-size: 14px; /* Tamaño de texto ajustado para pantallas pequeñas */
    color: #565555; /* Cambia el color si necesitas mayor contraste */
  }

  /* Ajustes para pantallas grandes */
  @media (min-width: 768px) {
    .followContact {
      flex-direction: row; /* Cambia a una fila en pantallas grandes */
      justify-content: space-between; /* Espaciado uniforme entre los elementos */
    }
  }
  
