.bgLayout {
   background-color: #10100e;
   height: 120px;
   padding-top: 40px ;

}
.divisorVertical {
    border: 1.5px solid;
    border-left: 0;
    border-right: 0;
    color: #ffffff !important; /* Estilo de línea vertical */
    padding: 10px;

  }
.a {
    text-decoration: none;
    color: white
}